.fd-dnd-area {
  &:empty {
    &::after {
      content: "请选择左侧组件";
      display: block;
      width: 100%;
      height: 80px;
      line-height: 80px;
      text-align: center;
      color: #aaa;
    }
  }
  &.s-dragover {
    &:empty {
      &::after {
        content: "请放置组件";
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #aaa;
        border: 1px dashed #ccc;
        box-sizing: border-box;
      }
    }
  }
}
.fd-dnd-overlay {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 0;
  height: 0;
}
.dnd-overlay-placeholder {
  position: absolute;
  z-index: 2;
  color: orange;
  background-color: currentColor;
  &::before {
    content: "";
    position: absolute;
    background-color: currentColor;
  }
  &::after {
    content: "";
    position: absolute;
    background-color: currentColor;
  }
  &.s-horizontal {
    &::before {
      content: "";
      left: 0;
      top: -5px;
      width: 2px;
      height: 11px;
    }
    &::after {
      content: "";
      right: 0;
      top: -5px;
      width: 2px;
      height: 11px;
    }
  }
  &.s-vertical {
    &::before {
      content: "";
      top: 0;
      left: -3px;
      width: 7px;
      height: 2px;
    }
    &::after {
      content: "";
      bottom: 0;
      left: -3px;
      width: 7px;
      height: 2px;
    }
  }
}
.dnd-overlay-hovermask {
  position: absolute;
  color: #3396fb;
  pointer-events: none;
  outline: 1px dashed currentColor;
  outline-offset: -1px;
}
.dnd-overlay-activemask {
  position: absolute;
  color: #3396fb;
  pointer-events: none;
  outline: 2px solid currentColor;
  outline-offset: -2px;
  &-buttons {
    position: absolute;
    width: 80px;
    height: 30px;
    padding: 0 5px;
    font-size: 12px;
    color: #fff;
    background-color: #3396fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
      &:hover {
        color: #ddd;
      }
    }
  }
}