@import "./normalize.css";
* {
  box-sizing: border-box;
}
dl,
dd,
p {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
.g {
  &-container {
    display: flex;
    min-height: 100%;
  }
  &-left {
    flex-shrink: 0;
    width: 20vw;
    min-width: 200px;
  }
  &-right {
    flex-shrink: 0;
    width: 20vw;
    min-width: 200px;
  }
  &-main {
    flex: 1;
    position: relative;
  }
}
.u-pd-10 {
  padding: 10px;
}
.ui-drag {
  min-height: 40px;
  line-height: 40px;
  background-color: #e5e5e5;
  // margin: 5px 0;
  text-align: center;
  cursor: pointer;
}
.g-main {
  position: relative;
}
.dropArea {
  position: relative;
  .ui-drag {
    min-height: 60px;
    line-height: 60px;
    overflow: hidden;
  }
  &.s-dragover {
    &:empty {
      &::after {
        content: "请放置组件";
        display: block;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: #aaa;
        border: 1px dashed #ccc;
        box-sizing: border-box;
      }
    }
  }
}

.cols {
  margin: 10px;
  padding: 10px;
  border: 1px dashed #ccc;
}
.ui-overlay-placeholder {
  position: absolute;
  z-index: 3;
  color: orange;
  background-color: currentColor;
  &::before {
    content: "";
    position: absolute;
    background-color: currentColor;
  }
  &::after {
    content: "";
    position: absolute;
    background-color: currentColor;
  }
  &.s-horizontal {
    &::before {
      content: "";
      left: 0;
      top: -5px;
      width: 2px;
      height: 11px;
    }
    &::after {
      content: "";
      right: 0;
      top: -5px;
      width: 2px;
      height: 11px;
    }
  }
  &.s-vertical {
    &::before {
      content: "";
      top: 0;
      left: -3px;
      width: 7px;
      height: 2px;
    }
    &::after {
      content: "";
      bottom: 0;
      left: -3px;
      width: 7px;
      height: 2px;
    }
  }
}
.ui-overlay-hovermask {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  color: #3396fb;
  &-line {
    position: absolute;
    border-top: 1px dashed currentColor;
  }
  &-leftline,
  &-rightline {
    transform-origin: 0 0;
    transform: rotate(90deg);
  }
}
.ui-overlay-activemask {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  color: #3396fb;
  &-line {
    position: absolute;
    border-top: 2px solid currentColor;
  }
  &-leftline,
  &-rightline {
    transform-origin: 0 0;
    transform: rotate(90deg);
  }
  &-buttons {
    position: absolute;
    width: 80px;
    height: 30px;
    padding: 0 5px;
    font-size: 12px;
    color: #fff;
    background-color: #3396fb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      display: inline-block;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }
  }
}
