@import "./normalize.css";
* {
  box-sizing: border-box;
}
dl,
dd,
p {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
html,
body {
  height: 100%;
}
.g {
  &-container {
    display: flex;
    min-height: 100%;
  }
  &-left {
    flex-shrink: 0;
    width: 20vw;
    min-width: 200px;
  }
  &-right {
    flex-shrink: 0;
    width: 20vw;
    min-width: 200px;
  }
  &-main {
    flex: 1;
    position: relative;
  }
}
.u-pd-10 {
  padding: 10px;
}
.dnd-drag {
  min-height: 40px;
  line-height: 40px;
  background-color: #e5e5e5;
  text-align: center;
  cursor: pointer;
}
.dnd-droparea {
  position: relative;
  .dnd-drag {
    min-height: 60px;
    line-height: 60px;
    overflow: hidden;
  }
}
.canvas {
  height: 100%;
}
.cols {
  margin: 10px;
  padding: 10px;
  border: 1px dashed #ccc;
}
